.cover-main p:first-child {     /*博客标题*/
    font-size: 100px;
    font-family: title0-en, title0-zh, cursive;
}

.cover-main p:last-child {     /*快捷链接*/
    font-family: title3-en, title3-zh, cursive;
}