#navbar {     /*导航栏*/
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-coverpage {     /*在封面时的导航栏*/
    background-color: var(--theme-color-pellucid);     /*背景色*/
    box-shadow: 0 .5px 5px var(--theme-color-light);     /*阴影*/
}

.navbar-main {     /*在主体时的导航栏*/
    transition: top .5s;     /*显示与隐藏*/
    background-color: white;     /*背景色*/
    box-shadow: 0 .5px 5px whitesmoke;     /*阴影*/
}

#title {     /*博客标题*/
    position: absolute;
    left: 1%;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: title2-en, title2-zh, cursive;
    color: #34495e;
    text-decoration: none;
}

#logo {     /*logo*/
    width: 30px;
    height: 30px;
}

#navbar > ul {     /*导航索引*/
    display: flex;
    height: 100%;
    font-family: title3-en, title3-zh, cursive;
    column-gap: 20px;
    padding-left: 0;
    margin: 0;
}

.nav {     /*导航*/
    display: flex;
    align-items: center;
    cursor: pointer;     /*鼠标悬停时光标改变*/
}

.nav:hover {     /*鼠标悬停时的导航*/
    border-radius: 10%;
}

.nav a {     /*导航中的链接*/
    color: #34495e;
}

.navbar-coverpage .nav:hover {     /*鼠标悬停且在封面时的导航*/
    background-color: var(--theme-color-light);
}

.navbar-main .nav:hover {     /*鼠标悬停且在主体时的导航*/
    background-color: whitesmoke;
}

.nav:nth-of-type(4) {     /*最后一个导航————“设置”*/
    position: absolute;
    right: 1%;
    height: 100%;
}

.navIcon {     /*导航的图标*/
    width: 20px;
    height: 20px;
}

.nav a {     /*导航的链接*/
    text-decoration: none;     /*无下划线*/
}

.nav > ul {     /*导航的列表*/
    position: absolute;
    top: 85%;
    display: none;
    background-color: whitesmoke;
    border-radius: 10%;
    flex-direction: column;
    padding-left: 0;
}

.nav > ul > li::marker {     /*导航列表的元素的前侧标志*/
    content: none;     /*无标志*/
}

.navbar-toggle {     /*导航栏切换按钮*/
    position: fixed;
    z-index: 1;
    top: 50px;
    transition: top .5s;     /*配合导航栏移动*/
    right: 0;
    background-color: hsla(0, 0%, 100%, .8);
    padding: 10px;
    border: 0;
    cursor: pointer;     /*鼠标悬停时光标改变*/
}

.navbar-toggle:hover {     /*鼠标悬停时的导航栏切换按钮*/
    opacity: .4;     /*透明度*/
}

.navbar-toggle span {     /*导航栏切换按钮中的条纹*/
    width: 16px;
    height: 2px;
    margin-bottom: 4px;
    display: block;
    background-color: var(--theme-color, #42b983);

}