.pagination-item-label {
    font-family: title3-en, title3-zh;
}

.pagination-item-title {
    font-family: title2-en, title2-zh;
}

.docsify-copy-code-button {
    font-family: title3-en, title3-zh;
}