.sidebar, .sidebar-toggle {
    position: fixed;
}

.sidebar {
    top: auto;
    bottom: auto;
    height: 100%;
}

.sidebar-nav > ul > li > a {
    font-size: 18px;
    font-family: title2-en, title2-zh, cursive;
}

.sidebar-nav > ul > li > ul {
    font-size: 16px;
    font-family: title3-en, title3-zh, cursive;
}

.sidebar-nav > ul > li > ul > li > a {
    font-size: 16px;
}

.file {
    font-size: 14px;
}