.logo {
    position: absolute;
    translate: -100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar-nav > ul > li > a {
    text-align: center;
    font-size: 25px;
    font-family: title2-en, title2-zh;
}

.sidebar-nav > ul > li > ul > li > a {
    font-size: 18px;
    font-family: title3-en, title3-zh;
}

.sidebar-nav > ul > li > ul > li > ul {
    font-family: title3-en, title3-zh;
}