:root {
    --waline-theme-color: var(--theme-color);     /*主题色*/
    --waline-active-color: var(--theme-color-light);     /*选中色*/
}

.wl-reaction, .wl-panel, .wl-meta-head, .wl-empty {     /*Waline的各个组件*/
    font-family: title3-en, title3-zh, cursive;
}